/* Reset Styles */

@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

html {
  font-size: 12px;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
	height: 100%;
  font-weight: 100;
  font-family: "San Francisco";
  color: #393939;
  line-height: 1.6;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: "San Francisco";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 100;
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 30px;
  font-weight: 100;

}

p {
  font-size: 16px;
  font-weight: lighter;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: black;
}

canvas {
  outline:0;
}

h1.name {
  text-align: center;
  font-size: 10rem;
  text-transform: uppercase;
}

.splash {
  height: 100vh;
  display: flex;
  background: black;
  color: black;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  position: relative;
  background-color: #FFFDF8;
}

.splash .menu-buttons a {
  color: black;
}

.logo-container {
  text-align: center;
  padding-top: 20px;
}

.logo {
  max-width: 50%;
}

.splash--parallax {
  background-color: #FEDCC8;
}

.about {
  height: 100vh;
  background: #F2EFEA;
  display: flex;
}

.about .right {
  padding: 84px;
}

.face {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.face img {
  transform: translateX(50%) translateY(50%);;
  width: 160px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.left {
  height: 100%;
  width: 50vw;
  flex: 0 0 50vw;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 12px;
  position: relative;
}

.left__logo {
  padding-top: 20px;
}

.projects .right,
.about .right,
.contact-me .right {
  height: 100%;
  width: 50vw;
  flex: 0 0 50vw;
  overflow-x: scroll;
  display: inline-block;
  position: relative;
}

.image-container {
  max-width: 700px;
}

.cardholder{
  width: 100%;
}

.background {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
  overflow: hidden;
}

.background .project--title {
  top: 20px;
  z-index: 3;
  font-size: 72px;
  text-align: center;
  margin: 0 auto;
  background: #fefefe;
  width: 100%;
}

.more {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #23231A;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  color: white;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  z-index: 3;
}

.background:hover > .more {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.slide.displayed {
  cursor: default;
}

.slide.displayed {

}

.slide.displayed .background:hover > .more {
  opacity: 0;
}


.content {

}

.slide {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  transition: transform 2.4s ease;
}

.slide .background .background__image {
  width: 453px;
  transition: transform 6.6s ease-in-out;
}

.slide.lights .background .background__image {
  width: 453px;
}

.slide .background .background__image:hover {
  transform: scale(1.2);
}

.slide.displayed .background .background__image {
  opacity: 0.6;
  transition: none;
}

.slide.displayed .background .background__image:hover {
  transform: scale(1);
}

.slide .content {
  overflow-x: scroll;
  display: none;
}

.slide .content.displayed {
  cursor: default;
  margin: 4px 45px 25px 45px;
}

.slide.first {
  background-color: #FEFEFE;
  background-repeat: no-repeat;
  background-position: center;
}

.slide.second {
  background-color: #FEFEFE;
}

.slide.third {
  background-color: #FEFEFE;
}

.slide.fourth {
  background-color: #FEFEFE;
}

.about .right {
  background-color: #FEFEFE;
}

.projects {
  height: 100vh;
  background: #F2EFEA;
  display: flex;
}

.contact-me {
  height: 100vh;
  display: flex;
  background: #F2EFEA;
}

.contact-me .right a{
  color: black;
}

.contact-me .contact-container .fa-linkedin {
  font-size: 24px;
}

.projects.displayed .nav {
  position: absolute;
  opacity: 0;
  transition: opacity 1s linear;
  bottom: 14px;
  pointer-events: none;
}

.project-nav {
  position: absolute;
  opacity: 0;
  transition: opacity 1s linear;
  bottom: 14px;
}

.project-nav a:active {
  color: black;
  font-weight: bolder;
}


.projects.displayed .project-nav {
  opacity: 1;
}

.projects.displayed .right {
  width: 80vw;
}

.projects.displayed .left {
  width: 20vw;
}



.projects .right {
  cursor: pointer;
  flex: 1 0 auto;
  transition: width .6s ease-in-out;
}

.projects .left {
  flex: 0 1 auto;
  transition: width .6s ease-in-out;
  text-align: center;
}

.projects .right .section {
  height: 100vh;
}

.close {
  position: absolute;
  display: none;
  right: 0px;
  transform: translateX(50%);
  z-index: 8;
  top: 14px;
  font-size: 32px;
  color: #23231A;
  cursor: pointer;
  color: maroon;
  background: white;
  line-height: 3px;
  border-radius: 100%;
  height: 30px;
}

.close.displayed {
  display: block;
}

#contact a {
font-size: 16px;
}

.nav {
  text-align: center;
  width: 75%;
  bottom: 0;
  height: 2.5rem;
  line-height: 3rem;
  font-size: 1.4rem;
  z-index: 2;
  margin: 0 auto;
  color: #FEFEFE;
}

.nav a {
  margin: 0 15px;
}

#home {
  padding-top: 5rem;
  margin-top: -1.6rem;
  background-color: white;
}

.main-content {
  padding-top: 1.6rem;
  margin-top: 4rem;
  padding-left: 4rem;
  vertical-align: top;
  margin-bottom: 4rem;
  padding-right: 4rem;
}

.project {
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project .image-container img {
  padding-bottom: 2rem;
}

.project .hangman{
  padding: 1rem;
}
.project-showcase {
  max-width: 80rem;
  padding: 2rem;
}

.project-showcase h2 {
  text-align: left;
}

.project-info-text {
  opacity: 0;
  position: absolute;
  top: 60px;
  padding: 20px;
  max-width: 90%;
  transition: opacity .25s ease-in-out;
}

.header-carousel img {
  display: block;
  width: 100%;
  height: auto;
}

.header-name {
  position: absolute;
  bottom: 200px;
}

@media only screen and (max-width: 768px) {
  .header-name {
    position: absolute;
    bottom: 20px;
  }
}

.parallax {
  height: 100vh;
  -webkit-perspective: 100px;
          perspective: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50%;
  right: 0;
  bottom: 0;
}

.end__parallax {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.end__parallax a,
.end__parallax h1 {
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  z-index: 2;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}

.parallax__cover {
  background: #2D112B;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 200vh;
  z-index: 8;
}

.parallax__layer--0 {
  /*background-image: url('/images/layer_0.png');*/
  -webkit-transform: translateZ(-300px) scale(4);
          transform: translateZ(-300px) scale(4);
}

.parallax__layer--1 {
  /*background-image: url('/images/layer_1.png');*/
  -webkit-transform: translateZ(-250px) scale(3.5);
          transform: translateZ(-250px) scale(3.5);

}

.parallax__layer--2 {
  /*background-image: url('/images/layer_2.png');*/
  -webkit-transform: translateZ(-200px) scale(3);
        transform: translateZ(-200px) scale(3);

}

.parallax__layer--3 {
  /*background-image: url('/images/layer_3.png');*/
  -webkit-transform: translateZ(-150px) scale(2.5);
        transform: translateZ(-150px) scale(2.5);

}
.parallax__layer--4 {
  /*background-image: url('/images/layer_4.png');*/
  -webkit-transform: translateZ(-100px) scale(2);
        transform: translateZ(-100px) scale(2);

}
.parallax__layer--5 {
  /*background-image: url('/images/layer_5.png');*/
  -webkit-transform: translateZ(-50px) scale(1.5);
          transform: translateZ(-50px) scale(1.5);

}
.parallax__layer--6 {
  /*background-image: url('/images/layer_6.png');*/
  -webkit-transform: translateZ(0px) scale(1);
          transform: translateZ(0px) scale(1);

}


.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #23231A;
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #23231A transparent transparent;
}
