/* Reset Styles */

@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

html {
  font-size: 12px;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
	height: 100%;
  font-weight: 100;
  font-family: "San Francisco";
  color: #393939;
  line-height: 1.6;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "San Francisco";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
}

h1 {
  font-size: 2.7rem;
  margin-top: 120px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 100;
}
h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3rem;
  margin-bottom: 0px;
  margin-top: 20px;
  font-weight: 100;
}
h4 {
  font-size: 2.4rem;
}

p {
  font-size: 1.3rem;
  font-weight: lighter;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: black;
}

canvas {
  outline:0;
}

h1.name {
  text-align: center;
  font-size: 7rem;
  text-transform: uppercase;
}

.splash {
  height: 100vh;
  display: flex;
  background: black;
  color: black;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  position: relative;
  background-color: #FFFDF8;
  background: url('/images/splash.jpg') center/100%;
  background-size: cover;
  position: relative;
}

.splash hgroup {
  z-index: 2;
}

.splash .cover {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  margin: -12px;
}

.splash .nav {
  margin: 0 0;
  text-align: left;
}

.splash .menu-buttons a {
  color: black;
}

.logo-container {
  text-align: center;
  padding-top: 20px;
}

.logo {
  max-width: 50%;
}

.splash--parallax {
  background-color: #FEDCC8;
}

.about {
  height: 100vh;
  background: #F2EFEA;
  display: flex;
}

.about .right {
  padding: 94px;
}


.face {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.face img {
  transform: translateX(50%) translateY(50%);;
  width: 160px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.left {
  height: 100%;
  width: 50vw;
  flex: 0 0 50vw;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 12px;
  position: relative;
}

.left__logo {
  padding-top: 20px;
}

.projects .right,
.about .right,
.contact-me .right {
  height: 100%;
  width: 50vw;
  flex: 0 0 50vw;
  overflow-x: scroll;
  display: inline-block;
  position: relative;
}

.right p {
  max-width: 70%;
  margin: 0 auto;
  padding: 15px 0;
}

.contact-me .right p {
  margin: 0;
}

.about .right {
  display: flex;
}

.about .right p {
  align-self: center;
}

.image-container {
  max-width: 700px;
}

.cardholder{
  width: 100%;
}

.background {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
  overflow: hidden;
}

.project--title {
  top: 20px;
  z-index: 3;
  font-size: 6rem;
  text-align: center;
  margin: 0 auto;
  background: #fefefe;
  width: 100%;
}

.more {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #23231A;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  color: white;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  z-index: 3;
}

.background:hover > .more {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.project-container.displayed {
  cursor: auto;
}

.project-container .content.displayed {
  cursor: default;
}

.preview-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.preview {
  height: 150px;
  width: 100%;
  flex: 1 1 auto;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.6s ease-in-out;
}

.preview:hover {
  flex: 10 0 auto;
}

.preview .header {
  background: rgba(255, 255, 255, 0.55);
}

.preview > .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
}

.preview:hover > .overlay {
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.25s ease-in-out;
}

.preview.remember {
  background: url('/images/kitchen.jpg') center repeat-x;
}

.preview.lights {
  background: url('/images/lights.png') center/100% repeat-x;
}

.preview.cardholder {
  background: url('/images/cardholder.jpg') center/100% repeat-x;
}

.project-container {
  display: none;
  transform: scale(0);
  animation: grow .3s ease-in-out;
  background-color: #FEFEFE;
  -webkit-overflow-scrolling: touch;
}

.project-container.displayed {
  display: block;
  transform: scale(1);
}

.about .right {
  background-color: #FEFEFE;
}

.projects {
  height: 100vh;
  background: #F2EFEA;
  display: flex;
}

.projects .nav {
  transition: all 0.4s ease;
}

.contact-me {
  height: 100vh;
  display: flex;
  background: #F2EFEA;
}

.contact-me .right a{
  color: black;
}

.contact-me .contact-container .fa-linkedin {
  font-size: 2rem;
}

.projects.displayed {
  transform: translate3d(0, 0, 0);
}

.projects.displayed .nav {
  font-size: 1.3rem;
}

.projects.displayed .menu-buttons {
  display: flex;
  flex-direction: column;
}

.projects.displayed .right {
  width: 80vw;
}

.projects.displayed .left {
  width: 20vw;
}

.projects .right {
  cursor: pointer;
  flex: 1 0 auto;
  transition: width .6s ease-in-out;
  margin: 12px 0;
}

.projects .left {
  flex: 0 1 auto;
  transition: width .6s ease-in-out;
  text-align: center;
}

.projects .right .section {
  height: 100vh;
}

.close {
  position: fixed;
  display: none;
  width: 60px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 8;
  top: 0;
  font-size: 2.6rem;
  color: #23231A;
  cursor: pointer;
  line-height: 3px;
  height: 60px;
  padding: 14px;
}

.close.displayed {
  display: block;
}

#contact a {
font-size: 1.3rem;
}

.nav {
  text-align: center;
  /* width: 75%; */
  /* bottom: 0; */
  height: auto;
  line-height: 3rem;
  font-size: 2rem;
  z-index: 2;
  margin: 0 auto;
  padding-bottom: 20px;
  color: #FEFEFE;
}

.nav a {
  margin: 0 15px;
}

#home {
  padding-top: 5rem;
  margin-top: -1.6rem;
  background-color: white;
}

.project {
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  -webkit-overflow-scrolling: touch;
}

.project img {
  max-width: 100%;
}

.project .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project .image-container img {
  padding-bottom: 2rem;
}


.project-showcase h2 {
  text-align: left;
}

.project-info-text {
  opacity: 0;
  position: absolute;
  top: 60px;
  padding: 20px;
  max-width: 90%;
  transition: opacity .25s ease-in-out;
}

.header-carousel img {
  display: block;
  width: 100%;
  height: auto;
}

.header-name {
  position: absolute;
  bottom: 200px;
}

@media only screen and (max-width: 768px) {
  .header-name {
    position: absolute;
    bottom: 20px;
  }
}

.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #23231A;
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #23231A transparent transparent;
}


@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .projects .right, .about .right, .contact-me .right {
      flex: 1 1 auto;
    }

    .contact-me .right {
      padding: 5rem;
    }

    .face {
      position: absolute;
      right: 50%;
      top: 100%;
      z-index: 2;
    }

    .face img {
      transform: translateX(-50%) translateY(-100%);
      position: absolute;
    }

    .h1.name {

    }
    .more {
      opacity: 1;
    }
    .left {
      display: none;
    }
}

@media only screen
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .projects .right, .about .right, .contact-me .right {
      flex: 1 1 auto;
    }

    .more {
      opacity: 1;
    }

    .contact-me .right {
      padding: 5rem;
    }

    .face {
      position: absolute;
      right: 50%;
      top: 100%;
      z-index: 2;
    }

    .projects.displayed {
      height: auto;
    }

    .background .project--title {
      font-size: 4rem;
    }

    .about .right {
      display: inline-block;
    }

    .about .right p {
      position: absolute;
      left: 4px;
      right: 4px;
      background: rgba(255,255,255,0.85);
      z-index: 3;
    }

    .face img {
      transform: translateX(-50%) translateY(-100%);
      position: absolute;
    }

    h1.name {
      font-size: 5rem;
    }

    .left {
      display: none;
    }
}

@media only screen
  and (min-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .hide-large {
      display: none !important;
    }
}

@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
